.ctlisting-yes {
    background-color: lightgreen;
}

.ctlisting-no {
    background-color: palevioletred;
}

.ctype-table table, th, td {
    border: 1px solid black;
}

.ctype-table th, td {
    padding: 10px;
}

.ctlisting-table table, th, td {
    border: 1px solid black;
}

.ctlisting-table th, td {
    padding: 10px;
}
